altair
annotated-types
attrs
blinker
blis
CacheControl
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
cryptography
cymem

filelock
firebase-admin
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
httplib2
huggingface-hub
idna
importlib-metadata
jellyfish
Jinja2
joblib
jsonschema
jsonschema-specifications
langcodes
language_data
language_tool_python
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
msgpack
murmurhash
narwhals
networkx
numpy==1.26.4
packaging
pandas
Pillow
preshed
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
Pympler
pyparsing
python-dateutil
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
segtok
semver
sentence-transformers
shellingham
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
sympy
tabulate
tenacity
thinc
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typer
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
validators
wasabi
weasel
wrapt
yake
zipp
